extends layout
block link
    -var selected = 'portfolio'; //default
    -var tags = env.helpers.getAllTags(); tags.sort(); tags.splice(tags.indexOf("other"),1); tags.push("other")
    -var selectedTag = tagName
block content
  h1= 'Portfolio'
  div#main.m-scene
    span#tag-nav
        if !selectedTag
          span.selected
            a(href='/portfolio')="all"
        else
          a(href='/portfolio')="all"
        each tag in tags
          if tag === selectedTag
            span.selected
              a(href=env.helpers.getTagHome(tag).url)= tag
          else
            a(href=env.helpers.getTagHome(tag).url)= tag
     div#portfolio-thumbnails
        each article in articles
              //- all this nonsense is testing which articles are videos
              -var tagsForArticle = env.helpers.getTagsFromArticle(article)
              -var articleIsVideo = (tagsForArticle.indexOf("animation") > -1)
              if(articleIsVideo)
                -var videoClass = "video"
              else
                -var videoClass = "notSpecial"
              div(class = videoClass)
                div.thumbnail-portfolio.scene_element.scene_element--fadeinright
                  //- strip html from hover text
                  a(href=article.url title = article.intro.replace(/(<([^>]+)>)/ig,"").trim())
                    //- thumbnail text
                    img(src=article.url + 'thumbnail.jpg')
                    br
                    div.text !{article.title}    
      div#portfolio-bottom-nav
        if nextPage
          div.next-link
            a(href=nextPage.url) Next »
         if prevPage
           div.previous-link
            a(href=prevPage.url) « Previous             